<div class="head">
  <div class="inner">
    <div class="head_logo">
      <a href="{{ linkify('/') }}">
        {% if site.logo %}
          <img src="{{ site.logo.src|thumbnail('ss') }}" alt="{{ site.name }}"/>
        {% endif %}
        <span>{{ site.name }}</span>
      </a>
    </div>
    <div class="head_subscribe">
      {% if features.algolia %}
        <a href="#" class="js-search" data-id="{{ site.algolia_id }}" data-key="{{ site.algolia_key }}">
          <i class="icon icon-search" aria-label="Search"></i>
        </a>
      {% endif %}
      {% if features.post %}
        <button class="js-subscribe" data-feed="{{ linkify('/feed.xml') }}">Subscribe</button>
      {% endif %}
    </div>
  </div>
</div>
<div class="info">
  <div class="inner">
    {% set podcast = site.podcast %}
    {% if podcast.image %}
      <a class="info_logo" href="{{ linkify('/') }}">
        <img src="{{ podcast.image|thumbnail('ss') }}" alt="{{ podcast.title }}">
      </a>
    {% endif %}
    <div class="info_main">
      <h1 class="info_title"><a class="h-card" rel="me" href="{{ linkify('/') }}">{{ podcast.title }}</a></h1>
      {% if podcast.subtitle %}
        <h2 class="info_subtitle">{{ podcast.subtitle }}</h2>
      {% endif %}
      <nav class="info_nav">
        <a href="/episodes/feed.xml">RSS</a>
        {% for nav in podcast.links %}
          <a href="{{ nav.url }}"{% if nav.blank %} target="_blank"{% endif %}>{{ nav.title }}</a>
        {% endfor %}
      </nav>
    </div>
  </div>
</div>
